
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;800&family=Oswald:wght@200;300;400;500&family=Poppins:ital,wght@0,200;1,100;1,200&display=swap");
body {
  background: linear-gradient(purple, yellow);
  background-attachment: fixed;
  font-family: "Mukta", sans-serif;
}
img {
  width: 20cm;
  height: 15cm;
  position: relative;
  top: 1cm;
  left: 1cm;
}
h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  letter-spacing: 12px;
}
button {
  background-color: #09bc8a;
  color: white;
  border: none;
  border-radius: 15px;
  width: 7cm;
  height: 1cm;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 1cm;
}
div {
  position: relative;
  left: 23cm;
  bottom: 12cm;
  width: 15cm;
  height: 3cm;
  text-align: center;
}
@media screen and (max-width:376px) {
  /* body{
    width: 376px;
    height: 727px;
  } */
  img {
    width: 33cm;
    height: 25cm;
    position: relative;
    top: 0cm;
    left: 0cm;
    border: 1px solid black;
  }
  h1 {
    border: 1px solid black;
    font-size: 70px;
    letter-spacing: 5px;
    position: relative;
    right: 500px;
    top: 500px;
  }
  button {
    position: relative;
    right: 500px;
    top: 500px;
    width: 8cm;
    height: 2cm;
    font-size: 40px;
    margin-top: 1cm;
  }
}